body {
    background: url(../images/portland.jpg);
    background-attachment:fixed;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center bottom;
}

.well {
    background: rgba(255, 255, 255, 0.85);
    color: rgba(0,0,0,1);
}

.foot {
    font-size: 1.5em;
    color: white;
    background-color: #222;
    border: 1px solid black;
}

.foot a {
    text-decoration: none;
    color: #999;
}

.foot a:hover {
    color: white;
}

section.well {
    background: lightgrey;
}
